

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    width: 680px;
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.section1{
    width: 80%;
    padding: 30px 0px 20px 50px;
}

.section-bottom {
    display: flex;
    width: 100%;
    color: white;
}

.section-left{
    width: 100%;
    background-color: hsl(179, 65%, 39%);
    padding: 20px 50px 10px 50px;
}

.section-right{
    width: 100%;
    background-color: hsl(179, 62%, 43%);
    padding: 20px 100px 20px 60px;
}

h2 {
    font-size: 18px;
}
.price-text {
    font-size: 36px;
}

.btn {
    background-color: hsl(71, 73%, 54%);
    border: 1px solid hsl(71, 73%, 54%);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 12px 0px;
    width: 100%;
    margin-top: 40px;
}

/* @media only screen and (max-width: 844px) {
    .section-bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-left {
        padding: 0px;
    }

    .section-right {
        padding: 0px;
    }

} */